:root {
  --back-color: rgb(239, 139, 19);
  --aback-color: rgba(239, 139, 19, 0.8);
  font-family: Montserrat, Lato, Roboto, sans-serif, arial;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Section */

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--back-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
}

#img-container {
  height: 2.5rem;
  width: auto;
  margin-left: 25px;
}

#header-img {
  height: 2.5rem;
  width: auto;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
}

#header .nav-link {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.6s ease;
}

#header .nav-link:hover {
  color: #fff;
}

/* End Header Section */

/* Hero Section */

#hero {
  height: 18rem;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Ambrose_Akinmusire_2011.jpg/1200px-Ambrose_Akinmusire_2011.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.11);
  margin-top: 3.5rem;
  content: '';
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  left: 0;
  right: 0;
  position: relative;
  width: 100%;
}

#img-title {
  margin-top: -15px;
}

#hero hr {
  width: 70%;
  height: 2px;
  border-width: 0;
  color: white;
  background-color: white;
  margin-top: -10px;
  margin-bottom: 30px;
}

#hero p {
  font-size: 1.6rem;
  margin-top: -10px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#email {
  margin-top: -5px;
  height: 2rem;
  width: 300px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 4px;
  font-size: 1.1rem;
}

#submit {
  margin-top: 5px;
  height: 2rem;
  width: 150px;
  transition: color 0.6s ease, background-color 0.6s ease;
  background-color: var(--back-color);
  color: #000;
  border: 2px solid #000;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
  font-weight: 700;
}

#submit:hover {
  background-color: #000;
  color: var(--back-color);
}

/* End Hero Section */

/* Main Section */

#features {
  position: relative;
  margin: 3rem 45rem 2rem 45rem;
  z-index: -1000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 800px;
}

#icon1 {
  height: 60px;
  width: auto;
  margin-top: 25px;
}

#icon2 {
  height: 60px;
  width: auto;
  margin-top: 20px;
}

#icon3 {
  height: 60px;
  width: auto;
  margin-top: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.info p {
  margin-top: -20px;
}

#features .fhr {
  color: #000;
  background-color: #000;
  width: 800px;
  height: 5px;
  border-width: 0;
}

/* video section */
.video {
  margin-top: 3.125rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.video iframe {
  max-width: 35rem;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 12.5rem;
  margin-top: 3.125rem;
}

@media (max-width: 1200px) {
  footer {
    background-color: #f3f3f3;
  }
}

.form form {
  max-width: 17.1875rem;
  width: 100%;
  padding: 0.3125rem;
}

.form p {
  margin-bottom: 1.25rem;
  word-wrap: break-word;
}

form input[type='email'] {
  outline: none;
  padding: 0.75rem 0.625rem;
  width: 100%;
  border: 1px solid rgba(153, 153, 153, 0.7);
  outline: none;
  font-size: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
  transition: all 0.4s ease-in-out;
}

.form input[type='submit'] {
  border: none;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.3125rem;
  font-size: 0.9375rem;
  line-height: 1rem;
  font-weight: 600;
  transition: background-color 0.1s ease-in;
  cursor: pointer;
  margin-top: 1.25rem;
}

.form input[type='submit']:hover {
  background: #f1c40f;
}

footer {
  background: #f3f3f3;
  padding: 0.9375rem 0rem;
  text-align: center;
  color: #a0a1a7;
  margin-top: 3.125rem;
  width: 100%;
}

.how {
  margin-top: 3.125rem;
}

.how .con {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.how h2 {
  text-align: center;
}

.how div {
  width: 30%;
}

.pricing {
  width: 100%;
  margin-top: 3.125rem;
}

.pricing .con {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.columns {
  width: 33.3%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #ef8b13;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
